.row-fluid style="margin-top:25px"
  .span9
    h3 Invoices in Draft
  .pull-right
    a.btn.btn-primary onclick="exportIif()" Export to IFF

  =render partial: 'partials/invoice_list_view', locals: {invoices: @drafted_invoices }

.row-fluid style="margin-top:25px"
  .span9
    h3 Finalized Invoices 
  .pull-right
    a.btn.btn-primary onclick="exportIif()" Export to IFF
    / =link_to "New Invoice", new_user_invoice_path(current_user), class: "btn btn-success", style: "margin-left:2px;"

  =render partial: 'partials/invoice_list_view', locals: {invoices: @finalized_invoices }




javascript:
  $(".select-all").click(function() {
    $(this).closest('table').find(':checkbox').prop('checked', this.checked); 
  });

  var exportIif = function() {
    var ids = $('input:checkbox:checked.invoice-id').map(function () {
      return this.value;
    }).get();
    var data = {"invoices": JSON.stringify(ids)}
    $.post('/invoices/export_iif', data, function(test){
      var uri = 'data:text/iif;charset=utf-8,' + encodeURIComponent(test);

      var downloadLink = document.createElement("a");
      downloadLink.href = uri;
      downloadLink.download = "orderorchard_invoices.iif";

      document.body.appendChild(downloadLink);
      downloadLink.click();
      document.body.removeChild(downloadLink);
    });
  }
