<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>

#results
form id="bank_account"
  h3 Bank Account Details
  label for="name" Name on Account
  input type="text" name="name" value="Levain Bakery LLC"
  label for="account_number" Bank Account Number
  input type="text" name="account_number" value="28304871049"
  label for="bank_code" Bank Code (Routing number in the USA)
  input type="text" name="bank_code" value="121042882"
  br
  button.btn onclick="submitBankData(event)" Add Account

javascript:
  var marketplaceUri = '/v1/marketplaces/TEST-MP31remI2FLs6BgdqfmWe5BR';

  balanced.init(marketplaceUri);

  function callback(response) {
    switch (response.status) {
        case 400:
          // missing field - check response.error for details
          $('#results').html("<h5> Received the following errors " + JSON.stringify(response.error) + ".<br> Please correct and resubmit your information.</h5>");
          $('#bank_account').show();
          break;
        case 409:
           $('#results').html("<h5> Received the following errors " + JSON.stringify(response.error) + ".<br> Please correct and resubmit your information.</h5>");
          $('#bank_account').show();
          // some of the data didn't make sense, check the bank code is valid
          break
        case 404:
           $('#results').html("<h5> Received the following errors " + JSON.stringify(response.error) + ".<br> Please correct and resubmit your information.</h5>");
          $('#bank_account').show();
          // your marketplace URI is incorrect
          break;
        case 201:
          // WOO HOO!
          // response.data.uri == uri of the card or bank account resource
          //$.post('/url/to/create_account', response.data);
          $.post('/users/add_bank_account', {"bank_uri": response.data.uri});
          window.location = "/users/#{current_user.id}/plans";
    }
  }

  function submitBankData(e) {
    e.preventDefault();
    console.log("submit button pushed");
    //var form = $('#bank_account');

    var bankAccountData = {
        name: $('#bank_account').find('[name="name"]').val(),
        account_number: $('#bank_account').find('[name="account_number"]').val(),
        bank_code: $('#bank_account').find('[name="bank_code"]').val()
    };

    $('#bank_account').hide();
    $('#results').html("<h5> Thank you. Please wait as we verify your information </h5>");
    balanced.bankAccount.create(bankAccountData, callback);
  }


