p#notice = notice

p
  strong Name:
  = @vendor.name
p
  strong Contact name:
  = @vendor.contact_name
p
  strong Address:
  = @vendor.address
p
  strong Phone:
  = @vendor.phone
p
  strong Email:
  = @vendor.email
p
  strong Notes:
  = @vendor.notes

= link_to 'Edit', edit_vendor_path(@vendor)
'|
= link_to 'Back', vendors_path
