h4 Import Me Some Customers
- @qb_customers.each do |customer|
  label class="checkbox"
    input type="checkbox" value="{'company_name': '#{customer.name}', 'email': '#{customer.email.address if customer.email}', 'phone_number': '#{customer.primary_phone.free_form_number if customer.primary_phone }', 'address_one': '#{customer.shipping_address.line1 if customer.shipping_address}', 'address_two': '#{customer.shipping_address.line2 if customer.shipping_address}', 'city': '#{customer.shipping_address.city if customer.shipping_address}', 'postal_code': '#{customer.shipping_address.postal_code if customer.shipping_address}'}"
      = customer.name
a.btn id="import-button" href="#" Import Selected Customers

javascript:
  $('#import-button').click(function(){
    var customers = [];
    $.each($("input[type='checkbox']:checked"), function(){
      temp = eval("(" + this.value + ")");
      customers.push(temp);
    });
    var data = {"customers": JSON.stringify(customers)}
    $.post('/customers/import_from_qb', data, function(){
      window.location.replace("#{user_customers_path(current_user)}");
    });
  });

