= semantic_form_for [current_user, @deliveryslot] do |f|
  =f.input :day, :label => "Day of the Week", :as => :select,
    :collection => ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
    :include_blank => false
  =f.input :start_time, :label => "Start of Delivery", :as => :string, :include_blank => false,
    :input_html => { :type => "time" }
  =f.action :submit, :label => "Create"
