#dashboard-header {
  background: orange;
  color: white;
  font-size:3em;
  height: 30px;
  width: 108%;
  margin: -40px;
  padding: 30px;

}

#todo li {
  font-size:2.5em;
  line-height:2.5em;
}

.step-complete {
  text-decoration: line-through;
  opacity: .2;
}
