.slate {
  padding: 10px 20px;
  border: 1px solid #F8F8F8;
  margin-bottom: 20px;
}

.stat-column {
  width: 13%;
  float: left;
  text-align: center;
  display: block;
  color: #999;
  margin: 0 4%;
  padding: 12px 2%;
}

.stat-column span.number{
  font-size: 32px;
  font-weight: normal;
  font-family: "Oxygen", sans-serif;
  margin: 14px 0 10px 0;
}
.stat-column span{
  font-weight: normal;
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  display: block;
}
.navbar-inner {
  background: white;
  border-bottom: 1px solid #e9e9e9;
  box-shadow: 10 1px 10px rgba(255,255,255,.1);
}

#mainContent {
  font-size: 13px;
  padding: 40px 40px 80px;
  min-height: 300px;
  width: 90%;
  margin-bottom: 10px;
  box-shadow: 1px 2px 3px #DDD;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

#container {
  width: 900px;
  min-height: 790px;
  margin: 30px auto 80px auto;
  padding-top: 105px;
  overflow: hidden;
}

a.btn-success{
  color: white;
}
h1 {
  color: #5a5a5a;
}

.form-horizontal label {
  color: #5a5a5a;
  font-weight: normal;
  line-height: 25px;
}

.form-horizontal input[type="text"], input[type="password"] {
  
}
.form-actions {
  background-color: transparent;
  border-top:none;
}

.checklist {
  font-size:2.5em;
}
.checklist li{
  line-height:1.5em;
}
.btn-space {
  margin-right: 10px;
}

.navbar .nav > li > a {
  text-transform: uppercase;
  font-weight: bold;
  padding: 29px 10px 31px;
}
